body {
	background-color: darkcyan;
}

header {
	color: #eee;
	text-align: center;
	font: 50px 'Press Start 2P';
	margin-top: 10px;
}

canvas {
	position: absolute;
	left: 50%; top: 50%;
	margin-left: -400px;
	margin-top: -300px;
	border:5px dotted #eee;
}