/* This is the first site I have styled with SASS */
body {
  background-color: #f9f9f9;
  font-family: 'Lobster', cursive; }

.panorama {
  width: 800px;
  height: 400px;
  margin: 30px auto 50px;
  background: url("../assets/preload.jpg");
  background-size: auto 460px;
  background-position: -30px -30px;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px #fff, 0px 0px 0px 18px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
  -moz-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px #fff, 0px 0px 0px 18px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 0px 0px 14px #fff, 0px 0px 0px 18px rgba(0, 0, 0, 0.2), 6px 6px 8px 17px #555;
  -webkit-animation: scroll 360s infinite;
  -webkit-animation-timing-function: linear;
  animation: scroll 360s infinite;
  animation-timing-function: linear;
  cursor: url("../assets/camera.png"), auto;
  text-align: center; }
  .panorama:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused; }

.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

header {
  text-align: center; }
  header h1 {
    font-size: 80px; }

.tip {
  font-size: 40px;
  text-align: center; }

@-webkit-keyframes scroll {
  0% {
    background-position: -30px -30px; }
  50% {
    background-position: -20000px -30px; }
  100% {
    background-position: -30px -30px; } }
@keyframes scroll {
  0% {
    background-position: -30px -30px; }
  50% {
    background-position: -20000px -30px; }
  100% {
    background-position: -30px -30px; } }
