// Variables
$corp-color: #fb9c06;

$navbar-grey: #6e6d6b;
$navbar-border: #fcba50;

$site-bg: #ffffff;
$seperator: #f2f2f2;

$form-inside: #f8f7f6;
$form-border: #d2d0cf;

$btn-submit: #fb9c06;
$btn-submit-border: #fcb94f;
$btn-submit-shadow: #cc830f;

// Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Screen sizes
$xs: "only screen and (max-width : 767px)";
$sm: "only screen and (max-width : 992px)";
$md: "only screen and (max-width : 1199px)";

body {
  background-color: lightpink;
  font-family: 'Open Sans', sans-serif;
}

/* Navbar style */

.navbar {
  &.navbar-default {
    border: none;
    background-color: $site-bg;
    border-bottom: 3px solid $navbar-border;
    @include border-radius(0px);
    margin-bottom: 0px;
    a, a:visited { text-decoration: none; }
    .navbar-header {
      .navbar-brand:nth-of-type(1) {
        width: 50px;
        height: 60px;
        margin: 10px 10px 15px -15px;
        background-image: url("../assets/rabbit-logo.png");
        background-size: 100% 100%;
      }
      .navbar-brand:nth-of-type(2) {
        font-size: 28px;
        line-height: 30px;
        padding-top: 13px;
        color: $navbar-grey;
      }
    }
    .navbar-nav {
      >li {
        background-position: center 10px;
        background-repeat: no-repeat;
        background-size: 65% auto;
        @media #{$xs} { text-align: center; }
        &:nth-of-type(1) {
          background-size: auto 47%;
          background-image: url("../assets/home-icon.png");
          @media #{$xs} { background-image: none; }
        }
        &:nth-of-type(2) {
          background-size: auto 45%;
          background-image: url("../assets/about-icon.png");
          @media #{$xs} { background-image: none; }
        }
        &:nth-of-type(3) {
          background-size: auto 45%;
          background-image: url("../assets/work-icon.png");
          @media #{$xs} { background-image: none; }
        }
        &:nth-of-type(4) {
          background-size: auto 45%;
          background-image: url("../assets/blog-icon.png");
          @media #{$xs} { background-image: none; }
        }
        &:nth-of-type(5) {
          background-size: auto 35%;
          background-position: center 16px;
          background-image: url("../assets/contact-icon.png");
          @media #{$xs} { background-image: none; }
        }
        >a {
          @media #{$xs} {
            padding-top: 0px;
            font-size: 20px;
          }
          padding-top: 40px;
          padding-bottom: 0px;
          line-height: 40px;
        }
      }
    }
    .navbar-toggle {
      margin-top: 26px;
    }
  }
}

/* Orange background */

.orange-bg {
  width: 100%;
  padding-top: percentage(400 / 1600);
  border-bottom: 3px solid $navbar-border;
  background: url("../assets/big-orange-bg.png") no-repeat;
  background-size: 100% auto;
}

/* Articles style */

.read-more {
  float: right;
  font-weight: bold;
}

article {
  margin-top: 25px;
  font-weight: bold;
}

.container .row:nth-of-type(3) {
  padding-bottom: 30px;
  border-bottom: 3px solid $seperator;
  .col-md-3 {
    @media #{$xs} {
      padding: 0px;
    }
  }
}


/* Meet the team */

.container .row:nth-of-type(4), .row:nth-of-type(6) {
  font-size: 50px;
  padding-top: 25px;
  font-family: 'Josefin Slab', serif;
  span {
    text-decoration: underline;
  }
  span.meet {
    @media #{$xs} {
      font-size: 40px;
    }
  }
  span.message {
    @media #{$xs} {
      font-size: 30px;
    }
  }
}

.container .row:nth-of-type(5) {
  padding-top: 20px;
  font-size: 20px;
  img {
    padding-top: 20px;
    width: 100%;
  }
  p {
    padding-top: 10px;
    font-size: 15px;
  }
}

/* Form style */

.form-horizontal {
  font-family: 'Josefin Slab', serif;
  .control-label {
    text-align: left;
    font-size: 28px;
    padding-top: 0px;
    margin-top: -3px;
  }
  .btn {
    background-color: $btn-submit;
    width: 200px;
    height: 50px;
    font-size: 28px;
    color: $site-bg;
    border: 3px solid $btn-submit-border;
    border-bottom: none;
    box-shadow: 0px 3px 0px $btn-submit-shadow;
    @include border-radius(0px);
  }
  input, textarea {
    background-color: $form-inside;
    border-top: 3px solid $form-border;
    border-left: 6px solid $form-border;
    @include border-radius(0px);
    &:focus {
      background-color: $form-inside + 10; // white
    }
  }
}

/* Footer style */

footer {
  border-bottom: 3px solid $btn-submit-shadow;
  font-family: 'Josefin Slab', serif;
  background-color: $btn-submit;
  font-size: 28px;
  color: $site-bg;
  padding: 5px;
}


/* Misc styles */

span.corp {
  color: $corp-color;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.glyphicon {
  margin-right: 10px;
  display: none;
  @media #{$xs} { display: inline; }
}

.no-padding {
  padding: 0 !important;
}

.row {
  background-color: $site-bg;
}

a {
  color: $corp-color;
  text-decoration: none;
  &:visited {
    color: $corp-color;
    text-decoration: none;
  }
  &:hover {
    color: $corp-color;
    text-decoration: underline;
  }
}